* {
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: #3a1858;
}

body {
  background-color: #ee005c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
}

section {
  display: flex;
  justify-content: center;
}

h2 {
  display: block;
  margin: 0 0 0 0;
  font-size: 10rem;
}

.header {
  flex-direction: column;
  font-size: 2.5rem;
  margin: 40px 0 40px 0;
  text-align: center;
}

.main {
  margin: 0 0 40px 0;
}

table {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 20px;
  width: 100px;
  color: #3a1858;
  border: none;
}

thead {
  color: #f7f7f7;
  background-color: #3a1858;
}

th {
  font-size: 1.4rem;
  padding: 20px;
  text-align: center;
}

a:hover {
  opacity: 50%;
}

td {
  padding: 10px 30px 10px 30px;
}

.footer {
  font-size: 30px;
  margin-bottom: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}
